body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #333;
  font-size: 18px;
}

.se-controls {
  z-index: 99999;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-bottom: 10% !important;
  .button-group {
    margin: 0 auto;
  }
}

.button {
  font-size: 16px;
  line-height: 1.9375;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.5px;
  background-color: #0070c9;
  background: -webkit-linear-gradient(#42a1ec, #0070c9);
  background: linear-gradient(#42a1ec, #0070c9);
  border-color: #07c;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  min-width: 200px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  white-space: nowrap;

  &.red {
    background-color: #c9303b;
    background: -webkit-linear-gradient(#c94561, #c9303b);
    background: linear-gradient(#c94561, #c9303b);
  }
}